AUTH0_DOMAIN=demo.yanase.mncoktlab-t.com
AUTH0_CLIENT_ID=JX4D9OnnG6pgH9SLkGyLnDneoC7SFx8N
AUTH0_AUDIENCE=https://demo.yanase.mncoktlab-t.com/me/
MY_ACCOUNT_API_BASE=https://demo.yanase.mncoktlab-t.com/me
PORT=8080
